# Bazel output directories (e.g. bazel-bin, bazel-testlogs, etc.)
/bazel-*

# MacOS directory attributes
**/.DS_Store

# Windows directory attributes
**/Thumbs.db

# Snyk test reports
**/.dccache

# .env file for environment variables
.env
